<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">



  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">
  <!-- About -->
  <link href="{{ url_for('static',filename='stylesheets/agency.css') }}" rel="stylesheet">
  <!-- Spacing is squished, fix that -->

  <!-- main css -->
  <link href= "{{ url_for('static',filename='stylesheets/seasoning_style.css') }}" rel= "stylesheet" >
  <title>Seasonings</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

  <script src="main.js"></script>
</head>
<!-- HEADER -->
<!-- Fix the transparency -->
    <header>
      <div class="logo">
      <h1> Seasonings </h1>
      <div class="tagline"> A Recipe Recommender System 🥑</div>

      </div>
      <nav class="sub-nav tagline">
        <a href="/home">Quiz</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="#methodology">Methodology</a>
        <a href="#findings">Findings</a>
        <a target="_blank" href="https://garrrychan.github.io/blog/">Portfolio</a>
      </nav>
    </header>
<!-- END OF HEADER -->

    <section class="page-section" id="about">
       <div class="container">
         <div class="row">
           <div class="col-lg-12 text-center">
             <h2 class="section-heading text-uppercase">About</h2>
             <h3 class="section-subheading text-muted">Udon know what to make for dinner? 🍜</h3>
           </div>
           As a home cook, I often wonder what to make for a weeknight dinner, on my weekly grocery runs. More often than not, I find myself scrolling through my phone at the supermarket, searching for a new recipe to try, but end up making the same repetitive handful of meals.
           <br>
           <br>
           Why not spice my life up with personalized recipe recommendations?
           <br>
           <br>
           With thousands of recipes, this application helps with discovering relevant content, learning new cuisines/culinary techniques, and preparing for future grocery trips!
         </div>
         <div class="row">
           <div class="col-lg-12">
             <ul class="timeline">
               <li>
                 <div class="timeline-image">
                   <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                 </div>
                 <div class="timeline-panel">
                   <div class="timeline-heading">
                     <h4>Week 0</h4>
                     <h4 class="subheading">Ideation & Research</h4>
                   </div>
                   <div class="timeline-body">
                     <p class="text-muted">
                       To frame this as a machine learning problem:
                       <br>
                       <br>
                       Given a person’s preferences in recipes, could I predict other new recipes they would enjoy?
                       <br>
                       <br>
                       I’d also imagine this problem, would also be relevant to the recipe aggregator, AllRecipes.com. By using a recommender system, AllRecipes.com could recommend new recipes to users, or recommend similar users to follow.
                       <br>
                       <br>
                       With respect to research, I leaned heavily on the MovieLens dataset, open source libraries such as LightFM, Spotlight, and the textbook Practical Recommendation Systems.


                     </p>
                   </div>
                 </div>
               </li>
               <li class="timeline-inverted">
                 <div class="timeline-image">
                   <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                 </div>
                 <div class="timeline-panel">
                   <div class="timeline-heading">
                     <h4>Week 1</h4>
                     <h4 class="subheading">Web Scraping with BeautifulSoup</h4>

                   </div>
                   <div class="timeline-body">
                     <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                   </div>
                 </div>
               </li>
               <li>
                 <div class="timeline-image">
                   <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                 </div>
                 <div class="timeline-panel">
                   <div class="timeline-heading">
                     <h4>Week 2</h4>
                     <h4 class="subheading">Exploratory Data Analysis, Modeling and Evaluation</h4>
                   </div>
                   <div class="timeline-body">
                     <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                   </div>
                 </div>
               </li>
               <li class="timeline-inverted">
                 <div class="timeline-image">
                   <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                 </div>
                 <div class="timeline-panel">
                   <div class="timeline-heading">
                     <h4>Week 3</h4>
                     <h4 class="subheading">Front End App Development</h4>
                   </div>
                   <div class="timeline-body">
                     <p class="text-muted">Prototyping ... Flask, Bootstrap, CSS, HTML Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                   </div>
                 </div>
               </li>
               <li class="timeline-inverted">
                 <div class="timeline-image">
                   <h4>
                     <br> App Launch!
                     <br>
                     </h4>
                 </div>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </section>

<!-- FOOTER -->
    <footer>
      <div class="logos">
        <a href="https://github.com/garrrychan?tab=repositories"><i class="fab fa-github fa-2x logo"></i></a>
        <a href="https://www.linkedin.com/in/garrrychan"><i class="fab fa-linkedin fa-2x logo"></i></a>
      </div>
      <p>&copy 2019 Seasonings, Garry Chan</p>
    </footer>
  </div>

</body>
</html>
